@media(max-width: 320px) {
  .container_home_page {
    display: flex;
    flex-direction: column;
  }

  .posts_grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1;
  }
}

@media(min-width: 321px) and (max-width: 900px) {
  .container_home_page {}

  .posts_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
}

@media(min-width: 901px) {
  .container_home_page {}

  .posts_grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% 1fr;
    grid-template-rows: 50% 50%;
  }
}

.blog_post_card {
  padding: 10px;
}

.box {
  border: 1px solid red;
  background: #F8FA9D;
}

.navbar {
  grid-area: nb;
}

.posts {
  grid-area: po;
}

.footer {
  grid-area: fo;
}

.front_image {
  width: 90%;
  border: 1px solid black;
}
h2 {
  text-align: center;
}
