@import "index.css";
@import "post.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

@media(max-width: 320px) {
  body {
    background-color: lightblue;
  }
}

@media(min-width: 901px) {
  body {
    background-color: lightgreen;
  }
}

@media(min-width: 321px) and (max-width: 900px) {
  body {
    background-color: lightgrey;
  }
}

h1 {
  text-align: center;
  color: #008CBA;
  text-shadow: 0 0 3px #FF0000;
}


button {
  color: black;
  border: 2px solid #008CBA;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  width: 90%;
}

.nav_bar {
  color: black;
  border: 2px solid #008CBA;
  text-align: center;
  display: inline-grid;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  width: 40%;
  margin: 20px
}

.fa {
  margin: 10px;
}

.footer {
  text-align: right;

}
