@media(max-width: 320px) {
  .container_post_page {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "nb"
      "abaut"
      "artic"
      "fo"
  }

  .image {
    width: 90%;
    border: 1px solid black;
  }

  .avatar_photo {
    width: 90%;
  }

  .vertical_header {
    display: none;
  }
}

@media(min-width: 321px) and (max-width: 900px) {
  .container_post_page {
    display: flex;
    flex-direction: column;
  }

  .about_author {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "ph ph"
      "avat aut_inf"
  }

  .vertical_header {
    display: none;
  }
}

@media(min-width: 901px) {
  .container_post_page {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "nb nb nb nb nb nb nb nb"
      "abaut abaut abaut abaut abaut abaut abaut vert_he"
      ". artic artic artic artic artic artic artic"
      "fo fo fo fo fo fo fo fo"
  }

  .about_author {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "ph ph"
      "avat aut_inf"
  }
}

.articles {
  grid-area: artic;
}

.article {
  border: 1px solid blu;
  background: lightblue;
  padding: 2.5%;
}

.navbar {
  grid-area: nb;
}

.footer {
  grid-area: fo;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border: 1px solid black;
}

.author_info {
  grid-area: aut_inf;
  width: 90%
}

.post_header {
  grid-area: ph;
}

.about_author {
  grid-area: abaut;
  border: 1px solid blu;
  background: #F8F8FF;
}

.avatar_photo {
  grid-area: avat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.vertical_header {
  grid-area: vert_he;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  font-size: 4em
}

h3 {
  color: #008B8B;
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
}
